<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css_inject_point_asset_style -->
    <title>Angular App</title>
    <script src="libs.js"></script>
</head>
<body>
    <app>Loading...</app>
    <!-- js_inject_point_asset_libs if_dev -->
</body>
</html>
